/* Feel free to follow the lesson plan here:
   https://www.notion.so/webatberkeley/CSS-2-Advanced-CSS-b10fa4a7fbd544bd83b0090dd50372fa
*/

.box-one,
.box-two,
.box-three {
  display: block;
  padding: 30px;
  text-align: center;
  width: 100px;
  color: white;
  font-size: 20px;
}

/*********************** Inline vs. Block ***********************/
/* Inline: Displays an element as an 
           inline element (like <span>). 
           Any height and width properties will have NO effect. 
*/

/* Block: Displays an element as an 
           block element (like <div>). 
            It starts on a new line, and takes up the whole width. (default) 
*/

span {
  color: red;
  /* display: block; */
}

.box-one {
  background-color: blue;
}

.box-two {
  background-color: rgb(0, 0, 0);
}

.box-three {
  background-color: rgb(255, 0, 0);
}

/*********************** Positioning ***********************/
/* Four kinds of positoning: 
   static: the default position
   relative: position relative to the default
   fixed: position relative to the browser
   absolute: position relative to the parent
*/

/* .box-two {
  position: relative;
  left: 50px;
} */

/* .box-two {
  position: fixed;
  right: 0px;
} */

/* .box-container {
  position: relative;
  left: 100px;
} */

/* .box-two {
  position: absolute;
  left: 50px;
} */

/*****************************************************************/
/*****************************************************************/
/*********************** MAGIC WORD TIME!! ***********************/
/*****************************************************************/
/*****************************************************************/

/*********************** Grid ***********************/
/* Grid can be used to layout a website (old) & create a table */
/* grid-template-columns: 1fr 2fr 2fr; */
/* grid-template-columns: 60px 60px 60px; */

/* .grid-container {
  display: grid;
  width: 30%;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
} */

/*********************** Flexbox ***********************/
/* The modern solution to website layout */
/* Here are some useful attributes */
/* flex-direction: column | row | column-reverse */
/* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end ... */
/* align-items: stretch | flex-start | flex-end | center | baseline */

/* .navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: #333333;
  padding: 5px;
}

.nav-item {
  color: white;
  padding: 10px;
} */

/*********************** Specificity ***********************/
/* Higher specificity will override lower specificity */
/* When the specificities are the same, the later one will override the previous one */

/* #sp {
  color: green;
} */

/* .specificity {
  color: red;
}

.specificity {
  color: blue;
} */
